### Домашнее задание «Функции и работа с данными»

Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')  ### загружаю файл с фильмами

In [3]:
mov_title = movies[['movieId', 'title']]

In [4]:
ratings = pd.read_csv('ratings.csv')  ###  загружаю файл с рейтингом

In [5]:
mov_rating = ratings[['movieId', 'rating']]

In [6]:
rating_movies = mov_rating.merge(mov_title, on = 'movieId', how = 'left')  ### объединяю две таблицы с фильмами и с рейтингом

In [7]:
rating_movies.head()

   movieId  rating                                             title
0      296     5.0                               Pulp Fiction (1994)
1      306     3.5  Three Colors: Red (Trois couleurs: Rouge) (1994)
2      307     5.0  Three Colors: Blue (Trois couleurs: Bleu) (1993)
3      665     5.0                                Underground (1995)
4      899     3.5                        Singin' in the Rain (1952)

In [13]:
### rating_movies.insert(3, "clas", True)

In [12]:
rating_movies['класс'] = rating_movies['rating'].apply(clas)

In [13]:
def clas(param):
    if param <= 2:
        return 'Низкий рейтинг'
    if param <= 4:
        return 'Средний рейтинг'
    if param >= 4.5:
        return 'Высокий рейтинг'

In [14]:
rating_movies.head(100)

,movieId,rating,title,clas,класс
0,296,5.0,Pulp Fiction (1994),Высокий рейтинг,Высокий рейтинг
1,306,3.5,Three Colors: Red (Trois couleurs: Rouge) (1994),Средний рейтинг,Средний рейтинг
2,307,5.0,Three Colors: Blue (Trois couleurs: Bleu) (1993),Высокий рейтинг,Высокий рейтинг
3,665,5.0,Underground (1995),Высокий рейтинг,Высокий рейтинг
4,899,3.5,Singin' in the Rain (1952),Средний рейтинг,Средний рейтинг
...,...,...,...,...,...
95,733,4.5,"Rock, The (1996)",Высокий рейтинг,Высокий рейтинг
96,858,3.5,"Godfather, The (1972)",Средний рейтинг,Средний рейтинг
97,914,4.0,My Fair Lady (1964),Средний рейтинг,Средний рейтинг
98,953,4.5,It's a Wonderful Life (1946),Высокий рейтинг,Высокий рейтинг
99,1035,1.0,"Sound of Music, The (1965)",Низкий рейтинг,Низкий рейтинг

Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {


'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [61]:
geo_data = {
    
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    
}

In [62]:
key_ = pd.read_csv('keywords.csv')

In [63]:
key_.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [64]:
key_['region'] = key_['keyword'].apply(region)

In [65]:
def region(keyword):
    keyword_list = keyword.split(' ')
    for key in geo_data:
        for value in keyword_list:
           ### print (key)
            if value in geo_data.get(key):
                return key
    return 'undefined'

In [70]:
key_[key_['region'] !='undefined']

                                     keyword   shows          region
127                             авито москва  979292           Центр
370                 авито ру санкт петербург  425134    Северо-Запад
849                          авито ярославль  209581           Центр
1063                     фарпост владивосток  176951  Дальний Восток
1236                    банк санкт петербург  174375    Северо-Запад
...                                      ...     ...             ...
99292           афиша кино москва на сегодня    3704           Центр
99590  авито ярославль автомобили с пробегом    3673           Центр
99808      полармед мурманск запись на прием    3719    Северо-Запад
99890                    яндекс метро москва    4548           Центр
99922                      авто ру ярославль    3712           Центр

[594 rows x 3 columns]